<div class="modal fade" id="comingSoonModal" tabindex="-1" aria-labelledby="comingSoonModalLabel" aria-hidden="true"
    data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered imaginate-modal-dialog">
        <div id="modal-content"
            class="modal-content imaginate-modal-content imaginate-modal-vh border-glow-yellow">
            <!-- Modal Close Button -->
            <div class="modal-header imaginate-modal-header">
                <button type="button" class="btn-close imaginate-close-btn" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="container-fluid d-flex justify-content-center px-0">
                    <div class="row w-100">

                        <!-- Modal Description -->
                        <div
                            class="col-12 col-lg-6 d-flex imaginate-modal-info flex-column justify-content-center align-items-center text-center px-0 mb-4 mb-lg-0">
                            <h1 class="pb-4 pb-lg-5 imaginate-modal-title">Imaginate</h1>
                            <p class="imaginate-modal-p pb-lg-3 pb-5">Stories for readers, fueled by the power of imagination.</p>
                            <div class="d-lg-none">
                                <h1 class="imaginate-modal-title text-warning">Coming Soon&#8482;</h1>
                            </div>
                        </div>

                        <!-- Modal Form  -->
                        <div class="col-12 col-lg-6 ps-lg-5 d-flex justify-content-center align-items-center text-center">
                            <div class="d-none d-lg-block">
                                <h1 class="imaginate-modal-title text-warning">Coming Soon&#8482;</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
