<div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered imaginate-modal-dialog modal-dialog-scrollable">
        <div id="modal-content" class="modal-content imaginate-modal-content imaginate-modal-vh border-glow">
            <!-- Modal Close Button -->
            <div class="modal-header imaginate-modal-header">
                <button type="button" class="btn-close imaginate-close-btn" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="container-fluid d-flex justify-content-center px-0">
                    <div class="row w-100">

                        <!-- Modal Description -->
                        <div class="col-12 col-lg-6 d-flex imaginate-modal-info flex-column justify-content-center align-items-center text-center px-0 mb-4 mb-lg-0">
                            <h1 class="pb-4 pb-lg-5 imaginate-modal-title">Imaginate</h1>
                            <p class="imaginate-modal-p pb-lg-3 pb-5">Create an Account with us today.</p>
                            <ul class="d-flex flex-column flex-lg-row list-unstyled justify-content-center">
                                <li class="me-3"><i class="fa-solid fa-dollar-sign"></i> 100% Free</li>
                                <li class="me-3"><i class="fa-solid fa-heart-circle-check"></i> No Subscriptions</li>
                                <li class="me-3"><i class="fa-solid fa-universal-access"></i> Access to All Content</li>
                            </ul>
                        </div>

                        <!-- Modal Form  -->
                        <div class="col-12 col-xl-6 ps-xl-5">
                            <form id="signupForm" method="POST" action="{% url 'register' %}">
                                {% csrf_token %}

                                <!-- Error message -->
                                <div class="text-danger hidden">
                                    <h4 class="pb-2"><i class="fa-solid fa-triangle-exclamation pe-1"></i> Account Creation failed.</h4>
                                </div>

                                <!-- Username Field -->
                                <div class="mb-3">
                                    <label for="id_username" class="form-label">Username</label>
                                    {{ form.username }}
                                    {% if form.username.errors %}
                                    <div class="text-danger">
                                        {{ form.username.errors }}
                                    </div>
                                    {% endif %}
                                    <ul class="pt-2 list-unstyled">
                                        <li><span class="form-text text-white"><i class="fa-solid fa-circle-info"></i> Max 12 characters in length.</span></li>
                                        <li><span class="form-text text-white"><i class="fa-solid fa-circle-info"></i> Does not contain special characters.</span></li>
                                    </ul>
                                </div>

                                <!-- Email Field -->
                                <div class="mb-3">
                                    <label for="id_email" class="form-label">Email</label>
                                    {{ form.email }}
                                    {% if form.email.errors %}
                                    <div class="text-danger">{{ form.email.errors }}</div>
                                    {% endif %}
                                </div>

                                <!-- Password Field -->
                                <div class="mb-3">
                                    <label for="id_password" class="form-label">Password</label>
                                    {{ form.password }}
                                    {% if form.password.errors %}
                                    <div class="text-danger">{{ form.password.errors }}</div>
                                    {% endif %}
                                    <ul class="pt-2 list-unstyled">
                                        <li><span class="form-text text-white"><i class="fa-solid fa-circle-info"></i> Must be between 8-20 characters in length.</span></li>
                                        <li><span class="form-text text-white"><i class="fa-solid fa-circle-info"></i> Must contain at least one special character.</span></li>
                                    </ul>
                                </div>

                                <!-- Confirm Password Field -->
                                <div class="mb-3">
                                    <label for="id_password_confirm" class="form-label">Confirm Password</label>
                                    {{ form.password_confirm }}
                                    {% if form.password_confirm.errors %}
                                    <div class="text-danger">{{ form.password_confirm.errors }}</div>
                                    {% endif %}
                                </div>

                                <!-- Register Button -->
                                <div class="d-flex mt-2 justify-content-center">
                                    <button type="submit" class="btn btn-lg btn-primary mt-1">Register Me!</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
