.hidden {
    display: none !important;
}

.icon-bg {
    font-size: 150%;
}

.text-hover:hover {
    color: #ffc107 !important;
}

.custom-logout-btn {
    background-color: #f8f9fa;
    color: #343a40;
    transition: background-color 0.3s, color 0.3s;
}

.custom-logout-btn:hover {
    background-color: #ffc107;
    color: white;
}

.custom-page-link{
    color: black;
    background-color: #f8f9fa;
    text-decoration: none;
    font-size: 1.3rem;
    border-radius: 7px;
    border: 4px solid gray;
    padding: 5px;
}

.custom-page-link:hover{
    background-color: #ffc107;
    transition: background-color 0.3s, color 0.3s;
}

.ml-lg {
    margin-left: 700px;
}

.imaginate-bg {
    background-color: #0e1a26 !important;
}

.imaginate-title {
    font-size: 900%;
    padding-bottom: 15px;
}

.pf-danger-section {
    height: auto;
    background-color: #ffb915 !important;
    border: 3px solid #343a40;
}

.pf-opt-section {
    height: auto;
    background-color: #a9a9a9 !important;
    border: 3px solid #343a40;
}

.pf-danger-btn {
    background-color: #dc3545 !important;
}

.pf-danger-btn:hover {
    background-color: #5e1914 !important;
}

.about-description {
    border: 2px solid #343a40;
    border-radius: 10px;
    margin-top: 5px;
    padding: 15px;
    width: 90%;
    height: auto;
}

.profile-img {
    border: 1px solid #343a40;
    border-radius: 20px;
    width: 40%;
    height: auto;
    margin-bottom: 10px;
}

.offcanvas-body #nav-home-mobile, #nav-stories-mobile, #nav-profile-mobile {
    padding: 15px !important;
    border-radius: 8px !important;
    margin-bottom: 15px !important;
}

.offcanvas-body .nav-item#nav-home-mobile {
    background-color: #f8d7da !important;
}

#nav-stories-mobile {
    background-color: #d1e7dd;
}

#nav-profile-mobile {
    background-color: #cff4fc;
}

/* Defines icon-beat animation */
@keyframes icon-beat {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}

/* Defines icon-bounce animation */
@keyframes icon-bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

/* Apply animations to classes */
.icon-beat {
    animation: icon-beat 0.9s linear infinite;
}

.icon-bounce {
    animation: icon-bounce 1.0s infinite;
}

.no-animation {
    animation: none !important;
}

.right-margin {
    margin-right: 40rem;
}


@media (max-width: 1200px) {
    .ml-lg {
        margin-left: 500px;
    }

    .profile-img {
        width: 60%;
        height: auto;
        margin-top: 10px;
    }

    .about-description {
        border: 2px solid #343a40;
        border-radius: 10px;
        margin-top: 5px;
        padding: 15px;
        width: 100%;
        height: auto;
    }
}

@media (max-width: 768px) {
    .ml-lg {
        margin-left: 320px;
    }
}

@media (max-width: 576px) {
    .ml-lg {
        margin-left: 60px;
    }

    .profile-img {
        width: 90%;
        height: auto;
    }
}