{% extends "base.html" %}
{% load static %}

{% block content %}

{% block header %}
<header class="container-fluid px-3 py-3 nav-bg border-bottom">
    <div class="row justify-content-between align-items-center">

        <!-- Navigation Links -->
        <nav class="col-lg d-flex justify-content-between align-items-center">
            <ul class="nav d-flex align-items-center">
                <li class="nav-item d-flex align-items-center ps-3 pe-4 fs-5"><a href="/"
                        class="nav-link text-white underline">
                        <i class="fa-solid fa-newspaper icon-bg pe-2"></i><span class="mb-3">News</span></a></li>
                <li class="nav-item pe-4 fs-5"><a href="#home-socials" class="nav-link text-white underline">
                        <i class="fa-solid fa-square-share-nodes icon-bg pe-2"></i>Socials</a></li>
                <li class="nav-item pe-4 fs-5"><a href="/" class="nav-link text-white underline">
                        <i class="fa-solid fa-scale-balanced icon-bg pe-2"></i>Policy</a></li>
            </ul>
            <ul class="nav d-flex">
                <li class="nav-item">
                    <form method="post" action="{% url 'account_signup' %}">
                        {% csrf_token %}
                        <button type="button"
                            class="nav-link text-white d-flex flex-column align-items-center underline"
                            data-bs-toggle="modal" data-bs-target="#signupModal">
                            Register
                        </button>
                    </form>
                </li>

                <li class="nav-item">
                    <form method="post" action="{% url 'account_login' %}">
                        {% csrf_token %}
                        <button type="submit"
                            class="nav-link text-white d-flex flex-column align-items-center underline {% if request.path == login_url %}active{% endif %}"
                            aria-current="page">
                            Login
                        </button>
                    </form>
                </li>
            </ul>
        </nav>
    </div>
</header>
{% endblock header %}

{% block main %}
<main class="container-fluid">
    <section class="row text-white imaginate-bg justify-content-center align-items-center vh-100">
        <div class="col d-flex flex-column justify-content-center align-items-center text-center vh-100">

            <div id="imaginate-titles" class="mb-5">
                <h1 class="imaginate-title">Imaginate</h1>
                <h3 class="">Stories for readers, fueled by the power of imagination</h3>
            </div>

            <div class="d-flex justify-content-center mt-5">
                <ul class="nav">
                    <li class="nav-item">
                        <form method="post" action="{% url 'account_signup' %}">
                            {% csrf_token %}
                            <button type="button"
                                class="nav-link fs-3 btn reg-btn btn-lg bg-white text-dark d-flex flex-column align-items-center me-5"
                                data-bs-toggle="modal" data-bs-target="#signupModal">
                                Register
                            </button>
                        </form>
                    </li>

                    <li class="nav-item">
                        <form method="post" action="{% url 'account_login' %}">
                            {% csrf_token %}
                            <button type="submit"
                                class="nav-link fs-3 btn log-btn btn-lg bg-blue text-dark d-flex flex-column align-items-center {% if request.path == login_url %}active{% endif %}"
                                aria-current="page">
                                Login
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section id="home-socials" class="row d-flex text-white social-section justify-content-center">
        <div class="d-flex w-100">
            <div class="d-flex border-left social-dividers flex-column justify-content-center w-50">
                <h2><i class="fa-solid fa-square-share-nodes"></i> Socials</h2>
                <p>Follow us for updates</p>
            </div>

            <div class="w-50 d-flex justify-content-start align-items-center">

                <ul class="nav d-flex px-4 py-4">
                    <li class="nav-item d-flex"><a href="https://x.com" target="_blank"
                            class="nav-link px-5 pb-4 text-body-secondary">
                            <i class="fa-brands fa-x-twitter text-white icon-xl"></i></a></li>
                    <li class="nav-item"><a href="https://www.facebook.com" target="_blank"
                            class="nav-link px-5 text-body-secondary">
                            <i class="fa-brands fa-facebook-f text-white icon-xl"></i></a></li>
                    <li class="nav-item"><a href="https://www.instagram.com" target="_blank"
                            class="nav-link px-5 text-body-secondary">
                            <i class="fa-brands fa-instagram text-white icon-xl"></i></a></li>
                    <li class="nav-item"><a href="https://www.reddit.com" target="_blank"
                            class="nav-link px-5 text-body-secondary">
                            <i class="fa-brands fa-reddit-alien text-white icon-xl"></i></a></li>
                    <li class="nav-item"><a href="https://www.youtube.com" target="_blank"
                            class="nav-link px-5 text-body-secondary">
                            <i class="fa-brands fa-youtube text-white icon-xl"></i></a></li>
                </ul>
            </div>
        </div>
    </section>
</main>
{% endblock main %}

{% block footer %}
<footer class="py-3 mt-auto nav-bg footer">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="border-bottom"></div>
            <p class="text-center text-white mt-3">© 2024 Imaginate | Marcus F</p>
        </div>
    </div>
</footer>
{% endblock footer %}

{% endblock content%}

{% block bodyscripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'js/script.js' %}"></script>
<script src="https://kit.fontawesome.com/ca4eb2dde7.js" crossorigin="anonymous"></script>
{% endblock bodyscripts %}