{% extends "base.html" %}
{% block content %}

{% load static %}

<section class="container-fluid story-header pt-3 mb-5">
    <div class="row">

        <div class="col-lg-4 nav-item d-flex justify-content-center mt-5 pt-5 flex-column align-items-center">
            <a href="{% url 'stories' %}" class="btn btn-library-return d-none d-lg-block mt-3 ms-5"
                aria-current="page">
                <i class="fa-solid fa-arrow-left icon-bg"></i> <span class="fs-4">Go back</span>
            </a>
        </div>
        
        <div class="col col-lg-4 d-flex justify-content-center flex-column align-items-center">
            <!-- Post title goes in these h1 tags -->
            <h1 class="post-title text-white pt-2 pb-5">{{ story.title }}</h1>
            <!-- Post author goes before the | the post's created date goes after -->
            <p class="post-subtitle text-white">Written by {{ story.author }}</p>
            <p class="post-subtitle text-white"><span>{{ story.created_on }}</span></p>

            <a href="{% url 'stories' %}" class="btn btn-library-return d-lg-none my-3"
            aria-current="page">
            <i class="fa-solid fa-arrow-left"></i> <span class="fs-4">Go back</span>
            </a>
        </div>
        <div class="col-lg-4"></div>
    </div>
</section>


<section class="container min-vh-60">
    <div class="row">
        <div class="col justify-content-center card mx-3 my-3 px-3 py-3 story-border">
            <div class="card-body">
                <p class="card-text">
                    {{ story.content | safe }}
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}