{% extends "base.html" %}
{% block content %}

{% load static %}

<!-- Story Editor Titles -->
<section class="container-fluid library-header pt-5 mb-5">
    <div class="row">
        <div class="d-flex justify-content-center align-items-center text-center">
            <h1 class="py-5 text-white text-center">
                <div class="d-none d-lg-block pb-2">
                    <i class="fa-solid fa-feather-pointed"></i>
                </div>
                Story Editor
                <div class="d-lg-none pt-5">
                    <i class="fa-solid fa-feather-pointed"></i>
                </div>
            </h1>
        </div>
    </div>
</section>

<!-- Story Editor Form -->
<section class="container-fluid story-editor-form pt-5 mb-5">
    <div class="row">
        <div class="col-12 d-flex justify-content-center align-items-center">
            <form method="POST" action="{% url 'story_editor' %}">
                {% csrf_token %}

                <div class="mb-5 d-flex justify-content-center">
                    <button type="submit" class="btn btn-lg btn-primary">Create Story</button>
                </div>
                
                <div class="mb-5">
                    <div class="{% if form.title.errors %} border-glow-red {% endif %}">
                        {{ form.title }}
                    </div>
                    {% if form.title.errors %}
                    <div class="text-danger pt-4 fs-4">
                        {% for error in form.title.errors %}
                        <div class="d-flex align-items-center"><i class="fa-solid fa-triangle-exclamation icon-bg pe-2"></i>{{ error }}</div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                <div class="my-5">
                    <div class="{% if form.excerpt.errors %} border-glow-red {% endif %}">
                        {{ form.excerpt }}
                    </div>
                    
                    {% if form.excerpt.errors %}
                    <div class="text-danger pt-4 fs-4">
                        {% for error in form.excerpt.errors %}
                        <div class="d-flex align-items-center"><i class="fa-solid fa-triangle-exclamation icon-bg pe-2"></i>{{ error }}</div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>

                <div class="mb-3">
                    <div class="{% if form.content.errors %} border-glow-red {% endif %}">
                        {{ form.content }}
                    </div>

                    {% if form.content.errors %}
                    <div class="text-danger pt-4 fs-4">
                        {% for error in form.content.errors %}
                        <div class="d-flex align-items-center"><i class="fa-solid fa-triangle-exclamation icon-bg pe-2"></i>{{ error }}</div>
                        {% endfor %}
                    </div>
                    {% endif %}
                    
                </div>
                
            </form>
        </div>
    </div>
</section>

{% endblock %}