{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- Page Information Section -->
<section class="container d-flex align-items-center">
    <div class="row">
        <div class="col mb-4 mt-3 d-flex align-items-center">
            <div class="alert alert-primary d-flex w-100" role="alert">
                <div>
                    <h3><i class="fa-solid fa-circle-info icon-bg"></i></h3>
                </div>
                <div class="d-flex align-items-center flex-column">
                    <h3> Welcome, {{ user.username }}!</h3>
                    <br>
                    <p>
                        Currently we are working on Profile Manager to bring new customization features to make your site experience unique.
                        Please return back to this page in a future update!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- About Me Section -->
<section class="container-fluid bg-light-subtle">
    <div class="row">
        <div class="col-4 text-center">
            <img src="{% static 'images/nobody.jpg' %}" alt="Profile Image" width="75%">
        </div>
        <div class="col-8">
            <h2>{{ about.title }}</h2>
            {{ about.content | safe }}
        </div>
    </div>
</section>

<!-- Danger Zone Section -->
<section class="container-fluid danger-section bg-secondary d-flex justify-content-center align-items-center">
    <div class="row">
        <div class="col d-flex flex-column align-items-center">
            <!-- Log Out Button -->
            <button type="button" class="btn btn-light text-dark text-bg-warning w-100 fs-4 mb-3">
                <i class="fa-solid fa-right-from-bracket"></i> Log Out
            </button>
            <!-- Delete Account Button -->
            <button type="button" class="btn btn-light text-light text-bg-danger w-100 fs-4">
                <i class="fa-solid fa-trash-can"></i> Delete Account
            </button>
        </div>
    </div>
</section>

{% endblock %}